include README.md
include SigProfilerAssignment/data/*
include SigProfilerAssignment/data/Reference_Signatures/GRCh37/*
include SigProfilerAssignment/data/Reference_Signatures/GRCh38/*
include SigProfilerAssignment/data/Reference_Signatures/mm9/*
include SigProfilerAssignment/data/Reference_Signatures/mm10/*
include SigProfilerAssignment/data/Reference_Signatures/rn6/*
include SigProfilerAssignment/DecompositionPlots/ReferenceFiles/Fonts/*
include SigProfilerAssignment/DecompositionPlots/ReferenceFiles/*
include SigProfilerAssignment/DecompositionPlots/*
include SigProfilerAssignment/data/tests/vcf_input/*
include SigProfilerAssignment/data/tests/txt_input/*
include SigProfilerAssignment/data/tests/cnv_input/*